<h3>Editing application database</h3>

<%= render 'form' %>

<%= link_to 'Show', @application_database, :class => "btn btn-link" %> |
<%= link_to 'Back', application_databases_path,  :class => "btn btn-link" %>
