@import "bootstrap";

@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-left: 35px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.list{
  border-bottom: 2px lightgray;
  border-top: 2px lightgray;
  border-left: 2px lightgray;
  border-bottom: 2px lightgray;
}